---
title: "Contract did-verification"
draft: true
---
Deployer: SP1V95DB4JK47QVPJBXCEN6MT35JK84CQ4CWS15DQ


 



Block height: 5571940 (2025-12-29T09:10:32.000Z)

Source code: {{<contractref "did-verification" SP1V95DB4JK47QVPJBXCEN6MT35JK84CQ4CWS15DQ did-verification>}}

Functions:

* authorize-verifier _public_
* create-identity _public_
* revoke-identity _public_
* revoke-verifier _public_
* update-identity _public_
* verify-identity _public_
* get-identity _read_only_
* get-verification-history _read_only_
* is-verified _read_only_
* is-verifier _read_only_
