---
title: "Contract nova-skill-verification"
draft: true
---
Deployer: SP2KZ109PC2HRFH8T37ZD8VAQF2DK38RTXQSBK80T


 



Block height: 6210698 (2026-01-30T07:47:40.000Z)

Source code: {{<contractref "nova-skill-verification" SP2KZ109PC2HRFH8T37ZD8VAQF2DK38RTXQSBK80T nova-skill-verification>}}

Functions:

* endorse-skill _public_
* get-skill-level _read_only_
