---
title: "Contract verification"
draft: true
---
Deployer: SP3BXJENEWVNCFYGJF75DFS478H1BZJXNZPT84EAD


 



Block height: 5358126 (2025-12-17T22:52:56.000Z)

Source code: {{<contractref "verification" SP3BXJENEWVNCFYGJF75DFS478H1BZJXNZPT84EAD verification>}}

Functions:

* filter-verified-proofs _private_
* is-proof-verified _private_
* check-verified-proof _public_
* deactivate-verifier _public_
* register-proof _public_
* register-verifier _public_
* report-verification-failure _public_
* set-contract-owner _public_
* verify-proof _public_
* get-proof _read_only_
* get-proofs-by-data-id _read_only_
* get-verification-result _read_only_
* get-verifier _read_only_
* is-verified _read_only_
