---
title: "Contract x-verification"
draft: true
---
Deployer: SPD5ETF2HZ921C8RJG2MHPAN7SSP9AYEYD5GSP84


 



Block height: 5430455 (2025-12-21T16:51:33.000Z)

Source code: {{<contractref "x-verification" SPD5ETF2HZ921C8RJG2MHPAN7SSP9AYEYD5GSP84 x-verification>}}

Functions:

* filter-verified-proofs _private_
* is-proof-verified _private_
* check-verified-proof _public_
* deactivate-verifier _public_
* register-proof _public_
* register-verifier _public_
* report-verification-failure _public_
* set-contract-owner _public_
* verify-proof _public_
* get-proof _read_only_
* get-proofs-by-data-id _read_only_
* get-verification-result _read_only_
* get-verifier _read_only_
* is-verified _read_only_
