---
title: "Contract provider-verification"
draft: true
---
Deployer: SPD5ETF2HZ921C8RJG2MHPAN7SSP9AYEYD5GSP84


 



Block height: 5429957 (2025-12-21T16:22:18.000Z)

Source code: {{<contractref "provider-verification" SPD5ETF2HZ921C8RJG2MHPAN7SSP9AYEYD5GSP84 provider-verification>}}

Functions:

* update-verification-history _private_
* authorize-verifier _public_
* process-verification _public_
* revoke-verifier _public_
* submit-verification-request _public_
* update-verification-status _public_
* format-request-id _read_only_
* get-bitcoin-block _read_only_
* get-verification-history _read_only_
* get-verification-request _read_only_
* get-verification-result _read_only_
* get-verifier-info _read_only_
* parse-request-id _read_only_
* validate-principal _read_only_
